# Logs
logs
*.log
event*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


event*.md

node_modules
.npm-cache
dist
dist-ssr
release
.cache
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local analysis / debug artifacts
error.md


